body {
  font-family: 'Candal', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

* {
  box-sizing: border-box;
  /* outline: 1px solid lightseagreen; */
}

.list {
  padding: 0;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  scroll-behavior: auto;
}

/* Default style */

.btn {
  display: block;
  margin: 0 auto;

  width: 224px;
  height: 40px;

  font-family: Liberation Sans;
  font-size: 16px;
  font-weight: 700;

  padding: 8px 65px;

  border: 1px solid #fcfcfc;
  border-radius: 8px;
  background: transparent;
  color: #fcfcfc;
}

/* Font-face */

/* inter-regular */

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Inter-Regular.ttf) format('truetype'),
    url(../fonts/Inter-Regular.woff) format('woff'),
    url(../fonts/Inter-Regular.woff2) format('woff2');
}

/* candal-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: Candal;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/candal-v15-latin-regular.ttf) format('truetype'),
    url(../fonts/candal-v15-latin-regular.woff) format('woff'),
    url(../fonts/candal-v15-latin-regular.woff2) format('woff2');
  /* src: url('../fonts/candal-v15-latin-regular.woff2') format('woff2');
  src: url('../fonts/candal-v15-latin-regular.woff') format('woff'); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: LiberationSans;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/LiberationSans-Regular.ttf) format('truetype'),
    url(../fonts/LiberationSans-Regular.woff) format('woff'),
    url(../fonts/LiberationSans-Regular.woff2) format('woff2');
  /* src: url('../fonts/LiberationSans-Regular.woff2') format('woff2');
  src: url('../fonts/LiberationSans-Regular.woff') format('woff');  */
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: LiberationSans;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/LiberationSans-Regular.ttf) format('truetype'),
    url(../fonts/LiberationSans-Regular.woff) format('woff'),
    url(../fonts/LiberationSans-Regular.woff2) format('woff2');
  /* src: url('../fonts/LiberationSans-Bold.woff2') format('woff2');
  src: url('../fonts/LiberationSans-Bold.woff') format('woff');  */
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: SF Pro Text;
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/SF-Pro-Text-Bold.ttf) format('truetype'),
    url(../fonts/SF-Pro-Text-Bold.woff) format('woff'),
    url(../fonts/SF-Pro-Text-Bold.woff2) format('woff2');
  /* src: url('../fonts/SF-Pro-Text-Bold.woff2') format('woff2');
  src: url('../fonts/SF-Pro-Text-Bold.woff') format('woff');  */
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;

  min-width: 390px;
  outline: 1px solid red;
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

.container-flex {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.container-flex.top {
  padding: 0 26px;
}

.navigation {
  background-color: #16344c;
  min-width: 390px;
}

.navigation-top__list {
  display: inline-flex;
  gap: 7.4px;
}

.navigation-top__time::after {
  content: '';

  position: absolute;
  top: 0;
  left: 115px;

  width: 153.43px;
  height: 32px;
  background-color: black;
  border-radius: 0 0 20px 20px;

  display: inline-block;
}

.navigation-top__time {
  display: inline;
  /* //styleName: Default/Body/Bold; */
  font-family: SF Pro Text;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.3;
  /* letter-spacing: -0.40799999237060547px; */
  text-align: center;

  color: rgba(252, 252, 252, 1);
}

.navigaton-list {
  display: flex;
  gap: 16px;
  padding-top: 16px;
  padding-bottom: 29px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
}

.list-item__link {
  position: relative;
}

.list-item__number {
  position: absolute;
  top: -12px;
  right: -12px;
  border-radius: 50px;
  background: rgba(222, 75, 83, 1);

  font-size: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Inter;
  font-weight: 400;
  line-height: 100%;

  width: 14px;
  height: 14px;
  color: #ffffff;
  margin: 0 auto;
}

/*SECTION HERO */

.hero {
  background-image: url('../img/background/bird.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  min-width: 390px;
  min-height: 719px;
}

.hero-title {
  font-family: Candal;
  font-size: 48px;
  font-weight: 400;
  line-height: 0.77;
  text-align: center;

  color: #fcfcfc;

  padding-top: 112px;
  /* padding-left: 16px;
  padding-right: 16px; */
}

.hero-text {
  font-family: Liberation Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;

  color: #fcfcfc;

  padding-top: 16px;
  padding-right: 14px;
}

.hero-btn {
  margin-top: 56px;
}

/* SECTION COLLECTION */
.collection {
  padding-top: 80px;
}

.collection-title {
  font-family: Candal;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.6;
  text-align: center;

  color: #3b619a;
}

.collection-short {
  font-family: Liberation Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;

  margin-top: 8px;
  text-align: center;

  color: #787695;
}

.collection-text {
  font-family: Liberation Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;

  margin-top: 32px;
  margin-bottom: 32px;
}

.collection-btn {
  background: #5e92b6;
  color: #fcfcfc;

  margin-top: 56px;
  margin-bottom: 54px;
}

/* SECTION EXLUZIVE-DEALS */

.exclusive-deals {
  margin-top: 80px;
}

.exclusive-deals-title {
  font-family: Candal;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;

  color: #3b619a;
}

.exclusive-deals-subtitle {
  font-family: Liberation Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;

  margin-top: 8px;

  text-align: center;

  color: #787695;
}

.card-container {
  width: 261px;
  height: 428px;

  flex-shrink: 2;
  object-fit: cover;
  object-position: 0 0;
  overflow: hidden;

  margin-top: 56px;

  border-radius: 8px;
  position: relative;

  box-shadow: 2.7361674308776855px 2.7361674308776855px 4.560279369354248px 0px
      rgba(125, 129, 137, 0.12),
    -2.7361674308776855px -2.7361674308776855px 4.560279369354248px 0px
      rgba(125, 129, 137, 0.12);
}

.button-heart,
.button-solid {
  border: none;
  background-color: transparent;
}

.heart {
  stroke: black;
}

.card-container.active {
  flex-shrink: 0;
}

.card-wrapper {
  display: flex;
  gap: 30px;
}

.card-sale {
  display: flex;

  width: 75px;
  height: 34px;

  border-radius: 5px;

  background: rgba(222, 75, 83, 1);

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 30px;
}

.card-sale-text {
  font-family: Liberation Sans;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  text-transform: uppercase;

  flex-shrink: 0;

  color: rgba(252, 252, 252, 1);
}

.card-text {
  margin: 16px auto 0;

  color: #272727;
  font-family: Liberation Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;

  text-align: center;
  white-space: nowrap;
}

.card-price-container {
  display: flex;
  padding: 0 24px 0 24px;
  align-items: baseline;
}

.card-price {
  color: #de4b53;
  font-family: Liberation Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  display: inline-block;

  margin-top: 24px;
}

.card-price.sale {
  color: #272727;

  font-size: 12px;
  font-weight: 400;

  text-decoration-line: line-through;
}

.card-img {
  width: auto;
  margin: 0 auto;
}

.button-container {
  margin-left: auto;
}

.btn-card-add.btn {
  display: block;
  margin: 19px auto 0;

  width: 213px;
  height: 34px;

  background: rgba(94, 146, 182, 1);
}

.btn-hiden {
  display: none;
}

.list-title {
  font-family: Candal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;

  color: rgba(120, 118, 149, 1);

  text-align: center;
  margin-top: 56px;
  margin-bottom: 32px;
}

.hide .heart {
  stroke: rgba(39, 39, 39, 1);
}

/* Our blog */

.our-blog-title {
  font-family: Candal;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;

  color: rgba(59, 97, 154, 1);
  text-align: center;

  margin-top: 80px;
  margin-bottom: 32px;
}

.our-blog-subtitle {
  font-family: Liberation Sans;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;

  margin-top: 32px;

  color: rgba(59, 97, 154, 1);
  text-align: left;
}

.our-blog-text {
  font-family: Liberation Sans;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.7;

  text-transform: uppercase;
  margin-bottom: 48px;

  color: rgba(120, 118, 149, 1);
}

.our-blog-subtext {
  font-family: Liberation Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;

  text-transform: uppercase;

  color: rgba(39, 39, 39, 1);
}

/* FOOTER */

.footer {
  background-color: #16344c;
}

svg.logo {
  margin-top: 16px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  margin-top: 32px;
}

.footer-link {
  color: rgba(252, 252, 252, 1);
  text-decoration: none;

  font-family: Liberation Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.social-networks {
  margin-left: auto;
  margin-top: -30px;
}

.footer-list-networks {
  display: flex;
  gap: 16px;
}

.footer-wrapper {
  display: flex;
}

.footter-text {
  font-family: Liberation Sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.13;

  color: rgba(252, 252, 252, 1);

  text-align: center;
  margin-top: 40px;
  padding-bottom: 32px;
}

.list-social::before {
  content: '';

  display: block;
  width: 100%;
  height: 1px;
  background-color: rgba(252, 252, 252, 1);
}

.list-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;

  margin-top: 40px;
}
