/* SECTION EXLUZIVE-DEALS */

.exclusive-deals {
  margin-top: 80px;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .exclusive-deals {
    position: relative;
  }
}

.exclusive-deals-picture {
  display: none;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .exclusive-deals-picture {
    display: block;
    width: auto;

    position: absolute;
    top: -15em;
    left: -7em;
  }
}

.exclusive-deals-title {
  font-family: Candal;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.3;
  text-align: center;

  color: var(--title-color);
}

.exclusive-deals-subtitle {
  font-family: var(--accent-font-family);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;

  margin-top: 8px;

  text-align: center;

  color: var(--subtitle-color);
}

.card-container {
  width: 261px;
  height: 428px;

  flex-shrink: 2;
  object-fit: cover;
  object-position: 0 0;
  overflow: hidden;

  padding-left: 24px;
  padding-right: 24px;
  margin-top: 56px;

  border-radius: 8px;
  position: relative;

  box-shadow: 2.7361674308776855px 2.7361674308776855px 4.560279369354248px 0px
      rgba(125, 129, 137, 0.12),
    -2.7361674308776855px -2.7361674308776855px 4.560279369354248px 0px
      rgba(125, 129, 137, 0.12);
}

@media only screen and (min-width: 1024px) and (max-width: 1770px) {
  .card-container {
    margin-top: 112px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1925px) {
  .card-container {
    width: 418px;
    height: 687px;
  }
}

.card-container.last {
  display: none;
}

@media only screen and (min-width: 1025px) and (max-width: 1925px) {
  .card-container.last {
    display: block;
  }
}

.button-heart,
.button-solid {
  border: none;
  background-color: transparent;
}

.heart {
  stroke: black;
  fill: white;
}

.heart:hover,
.heart:focus {
  stroke: var(--title-color);
}

.card-container.active {
  flex-shrink: 0;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .card-container.active {
    flex-shrink: 1;
  }
}

.card-wrapper {
  display: flex;
  gap: 30px;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .card-wrapper {
    justify-content: center;
    gap: 74px;
  }
  .card-wrapper-item {
    max-width: 457px;
  }
}

/*!=====================  */

.card-sale {
  display: flex;

  width: 75px;
  height: 34px;

  border-radius: 5px;

  background: var(--red-color);

  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 30px;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .card-sale.hidden {
    display: none;
  }
}

.card-sale-text {
  font-family: var(--accent-font-family);
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
  text-transform: uppercase;

  flex-shrink: 0;

  color: rgba(252, 252, 252, 1);
}

.card-text {
  margin: 16px auto 0;

  color: #272727;
  font-family: var(--accent-font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;

  text-align: center;
  white-space: nowrap;
}

@media only screen and (min-width: 1025px) and (max-width: 1925px) {
  .card-text {
    font-size: 18px;
    text-align: left;
  }
}

.card-price-container {
  display: flex;
  padding: 0 24px 0 24px;
  align-items: baseline;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .card-price-container {
    padding: 0;
  }
}

.card-price {
  color: var(--red-color);
  font-family: var(--accent-font-family);
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
  display: inline-block;

  margin-top: 24px;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .card-price {
    font-size: 24px;
  }
}

.card-price.sale {
  color: #272727;

  font-size: 12px;
  font-weight: 400;

  text-decoration-line: line-through;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .card-price.sale {
    font-size: 18px;
  }
}

.card-img {
  width: auto;
  margin: 0 auto;
}

@media only screen and (min-width: 1025px) and (max-width: 1925px) {
  .card-img {
    width: 351px;
    height: 408px;
  }
}

.button-container {
  margin-left: auto;
}

.btn-card-add.btn {
  display: block;
  margin: 19px auto 0;

  width: 100%;
  height: 34px;

  background: var(--accent-color);
}
.collection-btn:hover,
.collection-btn:focus,
.btn-card-add:hover,
.btn-card-add:focus {
  background: #b5e5f3;
  color: #272727;
}

@media only screen and (min-width: 1025px) and (max-width: 1925px) {
  .btn-card-add.btn {
    height: 54px;
    margin: 100px auto 0;
  }
}

.btn-card.hidden {
  display: none;
  border: none;
  background-color: transparent;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .btn-card.hidden {
    display: inline-flex;
  }
}

.list-title {
  font-family: Candal;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;

  color: var(--subtitle-color);

  text-align: center;
  margin-top: 56px;
}

@media only screen and (min-width: 1024px) and (max-width: 1925px) {
  .list-title {
    margin-top: 0;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1925px) {
  .list-title {
    font-size: 32px;
  }
}

.hide .heart {
  stroke: rgba(39, 39, 39, 1);
}
